*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFDD0;
}  
.sec-1{
    background-image: url('resort-2.jpg');
    background-position: center center;
    height: 100vh;
    background-size: cover;
}
header{
     background-color: #000000;
    display: flex;
    color: gold;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    padding: 20px 40px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: goldenrod;
    font-weight: 600;
    font-size: 20px;
    &:hover{
        text-decoration: underline;
    }
    text-decoration: none;
}
.overlay-wrapper{
    width: 100%;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000033;
}
.context{
    color: white;
    font-size: 80px;
    font-weight: 300;
}
input{
    display: none;
}

.check{
    display:none;
}
.mobile-navs{
    display: none;
}
.section-2{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 100px 100px;
    flex-wrap: wrap;
    gap: 50px;
    transition: .3s ease-in-out;
}
.about-us{
    flex: 1;
}
.about-us .about{
    color: blue;
}
h1{
    font-weight: 400;
    font-size: 50px;
}
 .text{
    font-size: 20px;
    color: gray;
    word-spacing: 2px;
    line-height: 25px;
    font-weight: 200;
}
 .more{
    color: gray;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
}
.all-img{
    flex: 1;
    display: flex;
    column-gap: 20px;
}
.img-1{
    width: 50%;
}
.img-1:nth-child(2){
    margin-top: 30px;
    margin-bottom: -40px;
}
.canopy{
    width: 100%;
}
.reserve-container{
    align-items: center;
    background-color: initial;
    border: 1px solid black;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 5em auto;
    overflow: hidden;
    padding: 2em 3em;
    width: 70%;
}
.reserve{
    font-size: 30px;
}
.reserve-btn{
    background-color: #009dff;
    border: none;
    padding: 15px;
    border-radius: 25px;
}
.reserve-btn:hover {
    background-color: white;
    color: #009dff;
    border: 1px solid #009dff;
}.footer-container{
    background-color: black;
    color: white;
    padding-inline: 100px;
    padding-top: 100px;
}
.box{
    display: flex;
    gap: 150px;
    line-height: 35px;
    padding-bottom: 50px;
    cursor: pointer;
    color: #ccc;
}
.box h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.footer-container hr{
    border: 1px solid gray;
}
.footer-p{
    text-align: center;
    font-size: 15px;
    padding: 10px 0px 20px 0px;
}
@media (max-width: 767px) {
    #check:checked ~ .navs{
    display: flex !important;
}
.overlay-wrapper{
    height: 100vh;
}
.context{
    font-size: 50px;
    font-weight: 400;
}
.sec-1{
    width: 100%; 
}
nav{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 80%;
    height: 100%;
    top: 73px;
    left: 0;
    background-color: black;
    z-index: 9999;
    color: white;
    transition: ease-in-out .3s;
}

.navs a{
    text-decoration: none;
    color: #FFFDD0;
    padding: 20px;
}
.check{
        display: block;
}
.section-2{
   flex-direction: column;
   padding: 50px 10px 10px 10px;
}
.text{
    font-size: 25px;

}
.canopy{
    margin-top: 70px;
}
.reserve-container{
    flex-direction: column;
    gap: 20px;
    width: 90%;
    padding: 10px;
}
.reserve{
    font-size: 23px;
}
.footer-container{
    padding: 20px;
    width: 100%;
}
.box{
    flex-direction: column;
    gap: 40px;
}
}