*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFDD0;
}  
.sec-1{
    background-image: url('in-touch.jpg');
    background-position: center center;
    height: 100vh;
    background-size: cover;
}
header{
     background-color: #000000;
    display: flex;
    color: gold;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    padding: 20px 40px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: goldenrod;
    font-weight: 600;
    font-size: 20px;
    &:hover{
        text-decoration: underline;
    }
    text-decoration: none;
}
.overlay-wrapper{
    width: 100%;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000033;
}
.context{
    color: white;
    font-size: 80px;
    font-weight: 300;
}
.input{
    display: none;
}

.check{
    display:none;
}
.mobile-navs{
    display: none;
}
.touch{
    font-size: 30px;
    font-weight: 500;
    padding-left: 120px;
    padding-top: 70px;
}
.text-1{
    padding: 10px 400px 170px 10px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: rgba(73, 80, 87, 0.4);
}
.enter{
    display: flex;
    gap: 20px;
    margin-left: 80px;
    margin-top: 20px;
}
.email{
    padding: 10px 100px 35px 10px;
    border-radius: 5px;
    border-color: rgba(73, 80, 87, 0.4);
    text-align: justify;
}
.subject{
    border-radius: 5px;
    border-color: rgba(73, 80, 87, 0.4);
    text-align: justify;
    padding: 10px 400px 35px 10px;
    margin-left: 80px;
    margin-top: 20px;
}
.btn{
    margin-left: 30c0px;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid rgb(108, 182, 207);
    background-color: white;
    color: rgb(71, 146, 172);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(53, 138, 167);
    color: white;
}